In [1]:
%autosave 0

Autosave disabled

In [2]:
import pandas as pd

from sklearn.metrics import classification_report

In [3]:
df = pd.DataFrame({'glasses': ['yes', 'no', 'yes', 'yes', 'yes', 'no', 'yes', 'yes', 'no'],
                   'preds': ['yes', 'no', 'yes', 'no', 'yes', 'yes', 'no', 'yes', 'yes']})

df

  glasses preds
0     yes   yes
1      no    no
2     yes   yes
3     yes    no
4     yes   yes
5      no   yes
6     yes    no
7     yes   yes
8      no   yes

We need to define a baseline for our project!

The baseline will be the target that occurs the most (mode)!

In [5]:
df.glasses.mode()

0    yes
Name: glasses, dtype: object

In [6]:
df['baseline'] = 'yes'
df

  glasses preds baseline
0     yes   yes      yes
1      no    no      yes
2     yes   yes      yes
3     yes    no      yes
4     yes   yes      yes
5      no   yes      yes
6     yes    no      yes
7     yes   yes      yes
8      no   yes      yes

Let's create a confusion matrix with pd.crosstab.

In [7]:
pd.crosstab(df.glasses, df.preds)

preds    no  yes
glasses
no        1    2
yes       2    4

Evaluating our model's predictions!

Accuracy is the # of correct guesses over all guesses.  
Accuracy is 5/9.

Precision is the # of true positives over all POSITIVE guesses.  
Precision is 2/3.

Recall is the # of true positives over all positive CASES.  
Recall is 2/3.

In [8]:
pd.crosstab(df.glasses, df.baseline)

baseline  yes
glasses
no          3
yes         6

Evaluating our baseline!

Accuracy is 2/3.

Precision is 2/3.

Recall is 1.